
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Optional background color */
    /* background: url("bgImage.png");
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: Arial, sans-serif;
    font-size: large;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    gap: 1rem;
    width: 1000px;
  }

  .products {
    display: flex;
    height: 500px;
    width: 500px;
    text-align: center;
    border: 10px solid rgb(46, 47, 84);
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
    overflow: scroll;
  }

  .product1 {
    display: flex;
    height: max-content;
    width: auto;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(136, 142, 235);
    padding: 10px;
    color: rgb(247, 231, 231);
  }

  .quantity {
    display: flex;
    height: max-content;
    width: 100px;
    justify-content: space-around;
    text-align: center;
    border: 1.2px solid black;
    background-color: rgb(121, 121, 238);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    color: white;
    /* gap: 0.4rem; */
  }

  .quantity button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: white;
    font-size: 1rem;
  }

  .cart{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    text-align: center;
    border: 10px solid rgb(46, 47, 84);
    padding: 10px;
    gap: 0.3rem;
    justify-content: space-between;
    overflow: scroll;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 142, 235);
    padding: 5px;
    color: rgb(247, 231, 231);
    margin-bottom: 10px;
    /* display: flex;
    justify-content: flex-start;
    height: 300px;
    width: auto;
    flex-direction: column;
    overflow: scroll; */
  }

  .content {
    display: flex;
    align-items: center;
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(136, 142, 235);
    padding: 10px;
    color: rgb(247, 231, 231);
  }

  .cartContent > p{
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 1.3rem;
  }
  .cartContent{
    display: flex;
    justify-content: flex-start;
    height: 300px;
    width: auto;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }

    .products,
    .cart {
      width: 100%;
    }
  }
